################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TFMS/.vs
/TFMS/TFMS/Data/Migrations/00000000000000_CreateIdentitySchema.cs
/.vs
/TFMS/TFMS/Migrations
